#mainImg{ height:  230px;
    width: 230px;
    border-radius: 200px;

}
img{
  height:60px;
  width:60px;
  padding: 2px;
}
body {
  text-align: center;
}
ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {font-family: 'Comfortaa', cursive;
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    header {
      text-align: center;
      background-color: #c2d6d6;
      color: white;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 70px;
      font-family: 'Quicksand', sans-serif;
      color: grey;
    }
    ol{text-align: right;
    }
