#mainImg{ height:  230px;
    width: 230px;
    border-radius: 200px;

}
img{
  height:30px;
  width:30px;
  padding: 2px;
}
body {
  text-align: center;
}
ul {
      padding: 10px;
      background: #45495f;

      bottom: 0;
      width: 100%;
    }
    li {font-family: 'Comfortaa', cursive;
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    header {
      text-align: center;
      background-color: #c2d6d6;
      color: white;
      position: fixed;
      top: 0;
      width: 100%;
    }
    a {
      color: white;
    }
    h1 {
      font-size: 70px;
      font-family: 'Quicksand', sans-serif;
      color: #45495f;
    }
    ol{text-align: right;
    }
    body{
      background-color: snow;

    }
